body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

:root {
  
  --NAME: #fff;
  --NAME: #99e2d0;
  --NAME: #ff79da;
  --NAME: #9356dc;
  --NAME: #99e2d0;
  --NAME: #99e2d0;
}
 
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h2 {
  margin: 0;
}

h6 {
  margin: 0;
}

h1,
h6 {
  font-family: Shrikhand, Roboto, sans-serif;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

.fa-solid fa-location-dot fill{
fill: var(--Grey, #353535);
}

.logo{
display: flex;
height: 96px;
padding: 30px 0px 31.798px 0px;
justify-content: center;
align-items: center;
}
.map{
display: flex;
height: 50px;
justify-content: center;
align-items: center;
gap: 17px;
}
.haut-de-page{
  display: flex;
  
  height: 160px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.haut{
  margin-left: 120px;
text-align: center;
font-size: 25px;
font-style: normal;
line-height: normal;
}
.btnh{
  margin-left: 120px;
width: 218px;
height: 50px;
border-radius: 25px;
background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
}

.btnh{
  color: var(--White, #FFF);
text-align: center;

/* Button */
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.fonct{
  display: flex;
padding: 50px 180px;
flex-direction: column;
align-items: flex-start;
gap: 25px;
align-self: stretch;
}
.f-text{
  color: #000;

  /* Section Title */

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}
.fonct-haut{
  display: flex;
    padding: 10px 500px;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
}
.numbre{
  color: #fff;
  background:#9356DC;
  border-radius:50%;
  width:45px;
  height:45px;
  text-align: center;
  fill: var(--Primary, #9356DC);
} 

.pinlk{
  color: #9356DC;
}
.fonct-btn{
border-radius: 20px;
background: var(--Background, #F6F6F6);
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
width: 205px;
height: 35px;
}

.r-txt{
  color: #000;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.card-main{
  display: flex;
padding: 0px 180px;
flex-direction: column;
align-items: flex-start;
gap: 28px;}

.card-menu{
  display: flex;
align-items: flex-start;
gap: 100px;
align-self: stretch;
}
.new{
  border-radius: 15px;
  width: 125px;
  height: 35px;
  background: var(--Green, #99E2D0);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  bottom: 150px;
  left: 370px;
  position: relative;
  text-align: center; 
  background: #a9e0d1;
  color: #3b8468;
  font-weight: 500;
  
  
}

.new p{
  color: var(--Green-Font, #008766);
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.card{
  border-radius: 15px;
  background: #FFF;
  width: 490px;
height: 251px;
  /* Shadow/Card */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

.card-img{
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-titel{
color: #000;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.scfooter{
  display: flex;
  margin-top: 200px;
  width: 430px;
  display: flex;
  background-color: coral;
}